/* general reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* *************************** */

/* utility */

img{
    max-width: 70px;
    border-radius: 50%;
    padding: 0 10px;
    margin: 10px 0;
}

/* editing section */

/* general container */
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 15%,
        #d2dbdc 15%,
        #d2dbdc 100%
    )
}

/* container messages */
.container-messages{
    display: flex;
    height: 90vh;
    width: 1200px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
}

/* aside */
aside{
    width: 35%;
    background-color: #ffffff;
    overflow-y: auto;
}

.aside-nome-utente{
    background-color:  rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-circle-notch,
.fa-comment-alt,
.fa-ellipsis-v{
    margin: 0 7px;
    color: rgb(177, 177, 177);
}

.fa-ellipsis-v{
    padding-right: 15px;
}

.aside-nome-utente-img{
    display: flex;
    align-items: center;
    
}

.aside-notifiche{
    height: 65px;
    background-color: #74dcff;;
    display: flex;
    align-items: center;
    
}

.fa-bell-slash{
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
    color: #74dcff;;
    margin: 0 20px;
}

.aside-search-bar{
    height: 50px;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;

}

.aside-search-bar>input{
    width: 97%;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    
}

.aside-container-users{
    background-color: #fff;
}

.aside-container-single-user{
    
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(245, 245, 245);
    
}

/* container messages right side */
.container-messages-right-side{
    background-color: rgb(219, 250, 219);
    flex-grow: 1;
    overflow-y: auto;
    /* background-image: url("../img/mine.jpg"); */
}

/*RIGHT SIDE MAIN */

.container-right-side-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
    border-left: 1px solid #d6d6d6;;
}

.fa-search,
.fa-paperclip{
    margin: 0 7px;
    color: rgb(177, 177, 177);
}

.container-right-side-header-img{
    display: flex;
    align-items: center;
}


