/* general reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* *************************** */

/* utility */

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}


/* ********************* */
p{
    font-size: smaller;
}

i{
    font-size: 22px;
}

i:hover{
    color: rgb(126, 117, 117);
    cursor: pointer;
    transition: color 0.4s;
}
img:hover{
    cursor: pointer;
}

img{
    max-width: 70px;
    border-radius: 50%;
    padding: 0 10px;
    margin: 10px 0;
}

input[type=text]:focus{
   border-color: #5aabda;
   box-shadow: 0 0 8px 0 #5aabda;
}

/* editing section */

/* GENERAL CONTAINER */
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 15%,
        #d2dbdc 15%,
        #d2dbdc 100%
    )
}

/* CONTAINER MESSAGES */
.container-messages{
    display: flex;
    height: 90vh;
    width: 1400px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
}

/* ASIDE */
aside{
    width: 35%;
    background-color: #ffffff;
    overflow-y: auto;
}

.aside-nome-utente{
    background-color:  rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-circle-notch,
.fa-comment-alt,
.fa-ellipsis-v{
    margin: 0 7px;
    color: rgb(177, 177, 177);
}

.fa-ellipsis-v{
    padding-right: 15px;
}

.aside-nome-utente-img{
    display: flex;
    align-items: center;
    
}

.aside-notifiche{
    height: 65px;
    background-color: #74dcff;;
    display: flex;
    align-items: center;
    
}

.color-gray{
    color:gray
    
}

.fa-bell-slash{
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
    color: #74dcff;;
    margin: 0 20px;
    padding: 10px;
    font-size: 25px;
    font-size: 20px;
    position: relative;
    right: 5px;
}

.aside-search-bar{
    height: 50px;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;

}

#messaggi-notifiche{
    font-weight: 500;
}

.content-aside-search-bar{
    width: 97%;
    background-color: white;
    height: 70%;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.content-aside-search-bar>input{
    width: 100%;
    height: 35px;
    padding: 0 10px 0 50px;
    border-radius: 5px;
    border: none;
    color: #d8d9da;
}

.fa-search{
    left: 10px;
}


.aside-container-users{
    background-color: #fff;
}

.aside-container-single-user{
    
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(245, 245, 245);
    
}

.aside-container-single-user:hover{
    background-color: rgba(235, 223, 223, 0.7);
    cursor: pointer;
}

/* NON RIESCO A FARLO FUNZIONARE */
/* *************************** */
.aside-container-single-user.active {
    background: #eee;
}

/* ***************************** */


/* container messages right side */
.container-messages-right-side{
    background-color: rgb(219, 250, 219);
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
}

/*RIGHT SIDE MAIN */

.container-right-side-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
    border-left: 1px solid #d6d6d6;
    height: 70px;
}

.testo-smaller{
    font-size: smaller;
    margin-top: 3px;
    font-weight: 700;
}

#lente-search{
    font-size: 17px;
    margin-left: 10px;
}

.fa-search,
.fa-paperclip{
    margin: 0 7px;
    color: rgb(177, 177, 177);
}

.container-right-side-header-img{
    display: flex;
    align-items: center;
}

.container-messages-overflow{
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
    display: flex;  
    flex-direction: column;
    padding: 0 10px;
    overflow-y: auto;
}


.container-right-side-main{
    display: flex;  
    flex-direction: column;
    padding: 0 10px;
}
/* ****************************** need styling */
.received{
    background-color: white;
    justify-content: flex-end;
    max-width: 300px;
    padding: 10px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-self: flex-start;
}

.sent{
    background-color: #cbfbb3;
    justify-content: flex-end;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-self: flex-end;
}


.container-right-side-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #f4eeea;
    /* overflow-x: hidden; */
    flex-shrink: 0;
}

.footer-search-bar>input{
    width: 700px;
    height: 50px;
    max-width: 100%;
    margin: 0 20px;
    border-radius: 5px;
    padding: 0 15px;
    border: none;
}


@media screen and (max-width: 1000px) {
    .footer-search-bar>input{
        width: 400px;
        
    }
}

@media screen and (min-width: 1001px) and (max-width: 1250px) {
    .footer-search-bar>input{
        width: 500px;
        
    }
}

.fa-smile{
    margin-left: 50px;
    font-size: 25px;
    color: #697376;
}
.fa-microphone{
    margin-right:  50px;
    font-size: 25px;
    color:  #697376;
}

